@import './func.scss';


@mixin backgroundImage($src) {
  background-image: url($src);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 center;
}

@mixin one_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
