@import './func.scss';

@mixin retinaImg($imgName,$width,$height) {
    width: r($width);
    height: r($height);
    background-size: r($width) r($height);
    background-repeat: no-repeat;
    background-image: url('../../images/'+$imgName+'@2x.png');
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url('../../images/'+$imgName+'@3x.png');
    }
}

@mixin border-1px($borderKind:top,$borderColor:#979797) {
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        border-#{$borderKind}: r(1) solid $borderColor;
        @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
            transform: scaleY(0.5);
        }
        @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
            transform: scaleY(0.33);
        }
    }
}
@mixin opx-border($borderKind:top,$borderColor:#979797) {
    border-#{$borderKind}: 1px solid $borderColor;
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        border-#{$borderKind}: 0.5px solid $borderColor;
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        border-#{$borderKind}: 0.3px solid $borderColor;
    }
}

@mixin opx-border-all($borderColor:#979797) {
    border: 1px solid $borderColor;
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        border: 0.5px solid $borderColor;
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        border: 0.3px solid $borderColor;
    }
}
@mixin bottomButton($background:#FF6652){
    width:100%;
    height:r(52);
    background:$background;
    text-align: center;
    color:#fff;
    line-height:r(52);
    font-size:r(16);
}