.BX_InsurerInfo{
  background-color: #FFF;
  .list{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      height: 2.5rem;
      border-left: 2px solid blue;
    }
    .list-header{
      padding: 0;
      >div{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.5rem;
        padding-left: 1.125rem;
        color: #4A4A4A ;
        .icon-arrow{
          display: flex;
          align-items: center;
          height: 100%;
          padding:0 1rem;
        }
      }
    }
  }
  .input{
    .input-group-add{
      display: inline-block;
      width: 6rem;
    }
    .input-content,.input-placeholder{
      padding-left: 0;
    }
    .input-control{
      input {
        padding-left: 0;
        color: #777777;
      }
    }
  }
}
