.BX_FooterButton{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.375rem;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.15), inset 0 0 0 0 #E5E5E5, inset 0 0 0 0 #E5E5E5;
  >div:first-child{
    padding: 1rem;
  }
  >div{
    width: 50%;
    display: flex;
    align-items: center;
    .button_footer{
      border-radius: 0;
      height: 100%;
    }
    .price{
      color: #C23934;
      &.loading:before{
        animation: spinAround 500ms infinite linear;
        border: 2px solid #bbbbbb;
        border-radius: 100px;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 16px;
        width: 16px;
        position: relative;
        left:0;
      }
    }
  }
}
